{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="http://bootswatch.com/paper/bootstrap.min.css" />
{% if latest_question_list %}

<div class="navbar navbar-default">
	<div class="nabbar-header">
		Polls App
	</div>
</div>
<div class="jumbotron">
<ul>
	    {% for question in latest_question_list %}
	    <li><a href="{% url 'polls:detail'  question.id %}"> {{question.question_text }}</a></li>
	    {% endfor %}
    </ul>
    {% else %}
        <p>No polls are available. </p>
    {% endif %}
</div>
